<body class="signupLoginbody">
<div class="signupLogin-form">
    <form action="/login" method="post">
        <h2>Login</h2>

        <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Email" >
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" >
        </div>

        <div class="form-group">
            <label class="form-check-label"><input type="checkbox" > Remember me</label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">Sign In</button>
        </div>
        <p class="loginwith"> or login with</p>
     <div class="form-group-google">
            <a href="/auth/google" style="color:red"><img src="/public/images/google.jpg" >Google SignIn</a>
        </div> 
        {{#if errorMessage}}
        <div class="error-message">{{errorMessage}}</div>
        {{/if}}
    </form>
    <div class="text-center">Don't have an account?<a href="/signup"> Sign up here</a></div>
</div>
</body>