<div class="container">
  <div class="row justify-content-between">
    <div class="col-3">
      <h4>CODECHAT</h4>
    </div>
    <div class="col-9 d-flex justify-content-end">
      <a href="/feed">Feed</a> &nbsp;
      <a href="/newpost">New Post</a> &nbsp;
      <a href="/logout">Logout</a> &nbsp;
    </div>
  </div>
</div>