<div class="container">
  <p>{{post.text}}</p>
  {{#ifEquals user.id post.author}}
  <a href="/modifypost/{{post.id}}">Modify</a>
  <form action="/deletepost/{{post.id}}" method="POST" onSubmit="return confirm('Are you sure you wish to delete?');">
    <input type="submit" value="Delete">
  </form>
  {{else}}

  {{/ifEquals}}
  {{> codeEditor post}}
  <a href="">Comment</a>
</div>