<div class="blue-background"></div>
<div class="container homescreen-container h-100">
  <div class="row h-100 align-items-center justify-content-center">
    <div class="custom-col">
      <h1>CODECHAT</h1>
      <h5>A social network focused around code</h5>
      <div>
        <a href="/signup" class="btn btn-outline-light">Sign Up</a>
        <a href="/login" class="btn btn-outline-light">Log In</a>
      </div>
    </div>
  </div>
</div>