body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
 padding-top: 120px;
}

body {
	font-family: 'Roboto', sans-serif;
	height: 100vh;
}

.blue-background {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background: url("../images/blackcolorful2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.homescreen-container {
  height: 90% !important;
  color: rgb(240, 209, 74) !important; 
}

.custom-col {
	z-index: 1;
}

/* glowing for title */

.custom-col h1{
  font-size: 80px;
  color: rgba(202, 176, 25, 0.774);
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px rgb(10, 10, 4), 0 0 20px #fff, 0 0 30px #e6c400, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #1f12cf, 0 0 40px #ff4da6, 0 0 50px #ff714d, 0 0 60px #4dff6b, 0 0 70px #ff4da6, 0 0 80px #4dfff0;
    }
  }

.form-control {
  height: 40px;
  box-shadow: none;
  color: #a496a2; }

.form-control:focus {
  border-color: #301592; }

.form-control, .btn {
  border-radius: 3px; }

.signupLogin-form {
  width: 450px;
  margin: 0 auto;
  padding: 30px 0;
  font-size: 15px; }

.signupLogin-form h2 {
  color: #c01111;
  margin: 0 0 15px;
  position: relative;
  text-align: center; }

.signupLogin-form h2:before, signupLogin-form h2:after {
  content: "";
  height: 2px;
  width: 30%;
  background: #c01111;
  position: absolute;
  top: 50%;
  z-index: 2; }

.signupLogin-form h2:before {
  left: 0; }

.signupLogin-form h2:after {
  right: 0; }

.signupLogin-form .hint-text {
  color: rgb(0, 0, 0);
  margin-bottom: 30px;
  text-align: center; }

.signupLogin-form form {
  color: rgb(0, 0, 0);
  border-radius: 3px;
  margin-bottom: 15px;
  background: #f2f3f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px; }

.signupLogin-form .form-group {
  margin-bottom: 20px; }

.signupLogin-form input[type="checkbox"] {
  margin-top: 3px; }

.signupLogin-form .btn {
  font-size: 16px;
  font-weight: bold;
  min-width: 140px;
  outline: none !important; }

.signupLogin-form .row div:first-child {
  padding-right: 10px; }

.signupLogin-form .row div:last-child {
  padding-left: 10px; }

.signupLogin-form a {
  color: rgb(136, 12, 105);
  text-decoration: underline; }

.signupLogin-form a:hover {
  text-decoration: none; }

.signupLogin-form form a {
  color: #c01111;
  text-decoration: none; }

.ssignupLogin-form form a:hover {
  text-decoration: underline; }

.text-center{
   color: rgb(209, 183, 32); 
  }
.text-center a{
    color: rgb(209, 183, 32); 
    font-size:20px;
    font-weight: bold; 
  }

.signupLoginbody{
  background: url("../images/blackcolorful2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/*# sourceMappingURL=style.css.map */
a {
  color: black
}

.navbar {
  position: fixed;
  top: 0;
  background: white;
  z-index: 1000;
  box-shadow: 0px 2px 10px 0px;
}

.post-profile-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.img-name-wrap {
  display: flex;
  align-items: center;
}

.img-name-wrap h4 {
  margin: 0;
  margin-left: 15px;
}

.navbar h4 {
  margin: 0;
}

.navbar-row {
  width: 100%;
  height: 70px;
}

.img-user-navbar-container {
  display: flex;
  align-items: center;
}

.img-user-navbar-container img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 20px;
}

.navbar-a-container {
  align-items: center;
}

.navbar-a-container a {
  padding: 0px 10px;
}


.target-container {
  height: 200px;
  width: 300px;
  background-color: white;
}

.feed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  background-color: #ffe100;
  //box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.5);
  padding: 50px;
  box-sizing: content-box;
  border-radius: 10px;
  width: 80%;
}

.post-name-container {
  display: flex;
  justify-content: space-between;
}

.editor-target-wrap {
  width: 100%;
  display: flex;
}

.editor-wrap {
  flex: 1;
  max-width: 400px;
}

.editor-container {
  border-radius: 10px;
  flex: 1;
  width: 100%;
  padding: 20px;
  background-color: #eee;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.5);
}

.editor {
  width: 100%;
  height: 400px;
  box-sizing: content-box;
}

.target-container {
  flex: 1;
  margin-top: 38px;
  height: 400px;
  overflow: scroll;
}

.tabs-button-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.tabs-button-container .btn {
  width: 100px;
  outline: none !important;
  box-shadow: none;
  :active {
    outline: none !important;
    box-shadow: none;
  }
  :focus {
    outline: none !important;
    box-shadow: none;
  }
}

.code-tab-active {
  color: #e7b308;
}

.btn-tab:hover {
   
    color: #df9100 !important;
  
}

.run-code-button {
  margin-top: 10px;
}

.text-buttons-wrap {
  display: flex;
}

.text-buttons-wrap p {
  padding-right: 20px;
  padding-top: 8px;
  flex: 1;
}

.post-buttons-container {
  width: 100px;
  display: flex;
}

.postview-wrap {
  width: 100%;
  padding: 50px;
  display: flex;
  justify-content: center;
}

.comments-container {
  display: flex;
  flex-direction: column;
}

.new-comment-form {
  padding-top: 10px;
}

.new-comment-form textarea {
  height: 120px;
  width: 100%;
}

.comment-wrap {
  display: flex;
  width: 100%;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.comment {
  flex: 1;
}

.new-post-wrap {
  width: 80%;
  margin: auto;
  padding: 20px 50px;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffe100;
  border-radius: 10px;
}

.new-post-wrap form {
  width: 100%;
}

.error-message {
  color:red;
  font-weight: bold
}

.new-post-wrap textarea {
  width: 100%;
  height: 50px;
}

.privacypart{

  margin-left:200px;
  background-color:rgba(185, 180, 180, 0.185);
  // text-align:center;
  width: 75%;
  padding: 15px;
}

.privacypart h3{
  color:rgb(71, 71, 71);
}
